// ORIENTATION

@mixin absCenter {
  display: flex !important;
  visibility: visible !important;
  justify-content: center;
  align-items: center;
}

@mixin absCenterSA {
  display: flex !important;
  visibility: visible !important;
  justify-content: space-around;
  align-items: center;
}

@mixin absCenterSB {
  display: flex !important;
  visibility: visible !important;
  justify-content: space-between;
  align-items: center;
}

@mixin absCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absCenterColumnSA {
  display: flex !important;
  flex-direction: column;
  visibility: visible !important;
  align-items: space-around;
  justify-content: center;
}

@mixin absCenterColumnSB {
  display: flex !important;
  flex-direction: column;
  visibility: visible !important;
  align-items: space-between;
  justify-content: center;
}

@mixin absColumnFS {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin absColumnFSFS {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin absColumnFE {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

// BOOTSTRAP MEDIA QUERIES WEB FIRST
@mixin for-small-phone-only {
  @media (max-width: 320px) { @content; }
}

@mixin for-phone-only {
  @media (max-width: 575.98px) { @content; }
}

@mixin for-small-devices-down {
  @media (max-width: 767.98px) { @content; }
}

@mixin for-medium-devices-down {
  @media (max-width: 991.98px) { @content; }
}

@mixin for-large-devices-down {
  @media (max-width: 1199.98px) { @content; }
}

@mixin for-xlarge-devices-down {
  @media (max-width: 1499.98px) { @content; }
}

@mixin for-xxlarge-devices-down {
  @media (max-width: 1799.98px) { @content; }
}


// BOOTSTRAP MEDIA QUERIES MOBILE FIRST

@mixin for-small-devices-up {
  @media (min-width: 576px) { @content; }
}

@mixin for-medium-devices-up {
  @media (min-width: 768px) { @content; }
}

@mixin for-large-devices-up {
  @media (min-width: 992px) { @content; }
}

@mixin for-xlarge-devices-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-1500 {
  @media (min-width: 1499px) { @content; }
}


@mixin for-1800 {
  @media (min-width: 1799px) { @content; }
}

@mixin for-xxlarge-devices-up {
  @media (min-width: 1500px) { @content; }
}
