.reviews {
  height: 100vh;
  width: 100%;
  background: gray;
  background-image: url('https://images.pexels.com/photos/1670732/pexels-photo-1670732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 40px 0 40px;

  & h1 {
    text-align: left;
    width: 100%;
    font-family: $primary-font;
    color: white;
    font-weight: 700;
    font-size: 24px;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
      display: block;
      width: 40px;
      clear: both;
      border-bottom: 2px solid white;
      margin-right: 10px;
    }

    h2 {
      font-family: $secondary-font;
      color: white;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0;
      text-align: left;
    }
  }

  & a {
    background-color: white;
    font-family: $secondary-font;
    font-weight: 400;
    border-radius: 50px;
    padding: 5px 20px;
    color: black;
    margin-top: 40px;

    &:hover {
      text-decoration: none;
      background-color: #F2F2F2;
    }
  }


  @include for-phone-only {
    height: 100vh;
    padding: 100px 20px;

    & h1 {
      font-size: 22px;
    }

    &_header {

      hr {
        width: 20px;
      }

      h2 {
        font-size: 14px;
      }
    }
  }

  @include for-small-phone-only {
    height: 130vh;
  }
}

.swiper2 {
  padding: 30px 0;
}

