<footer class="hoxton-footer">
  <div class="social-media">
    <p>Trailblazer Safaris <i style="font-size: 14px;" class="far fa-copyright"></i> All Right Reserved 2020</p>
    <a href="https://www.facebook.com/TrailblazerUg/?ref=aymt_homepage_panel&eid=ARBpy9ApMnkK_OoyFSsoHAdIQxSNZ32X9ky68UpW4GWLLl7MB2yYXwCb_m37iMDlInTC4xY04zoUaN1M" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/trailblazersafarisug/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com/TrailblazerUg" target="_blank"><i class="fab fa-twitter-square"></i></a>
  </div>
  <a href="https://www.hoxton-digital.com"> London Web Development </a>
  <a href="https://www.hoxton-digital.com"> Hoxton Digital</a>
</footer>
