<div class="preparation">
  <div class="preparation-first">
    <div>
      <hr align="left"><h2>PREPARE FOR YOUR TRIP</h2>
    </div>
    <h1>BEFORE YOU COME TO AFRICA</h1>
  </div>
  <div class="preparation-second">
    <div class="preparation-second-left">
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>What to Pack</h1>
        <ul>
          <li>
            It often rains heavily, even in the dry season, so a light raincoat will be useful.
          </li>
          <li>
            Sturdy walking boots with good ankle support and grip are also recommended.
          </li>
          <li>
            A light shoulder bag or small rucksack is useful to carry your packed lunch, water bottles, raincoat, camera and other essentials. Local porters are also available.
          </li>
          <li>
            Strong gloves are of enormous help, as you will be hauling yourself uphill by grabbing the bushes, and often sliding downhill on the seat of your pants
          </li>
          <li>
            During the track, wearing a pair of walking trousers or gaiters will prevent cuts and scratches.
          </li>
          <li>
            Carry a water-proof plastic bag to wrap your camera and film or memory cards in.
          </li>
          <li>
            Flash photography is strictly prohibited as this may upset the gorillas. Make sure you bring ample supplies of high-speed film (400 ASA minimum or 800 ASA recommended) or memory cards to counter this. Also make sure you are completely familiar with the workings of your camera before you observe the gorillas.
          </li>
        </ul>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>For The Camp</h1>
        <ul>
          <li>
            Evening dress is ‘smart casual’, there is no formal wear required.
          </li>
          <li>
            We advise guests to dress in a way they feel most comfortable.
          </li>
          <li>
            The altitude at Bwindi is just over a mile high.
          </li>
        </ul>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Staying Healthy</h1>
        <p>
          For up to date information on the latest health and vaccination recommendations, please consult with a qualified health professional at least 6 weeks before your intended departure. Anti-malarial medication is strongly recommended for all visitors to Uganda.
          <br><br>
          If you are arriving (or planning to re-enter) from a country where yellow fever is endemic, then you are required to have a yellow fever vaccination. This vaccination is also recommended if you are travelling outside of urban areas. It is recommended that all international travelers ensure that their tetanus, Hepatitis A, and polio vaccines are up-to-date. Do not drink (or brush your teeth with) the tap water.
        </p>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Local Food & Drink</h1>
        <p>
          Ugandan cuisine consists of traditional and modern cooking styles, practices, foods and dishes in Uganda, with English, Arab, Asian and especially Indian influences. Like the cuisines of most countries, it varies in complexity, from the most basic, a starchy filler with a sauce of beans or meat, to several-course meals served in upper-class homes and high- end restaurants.
        </p>
    </div>
    <%= cl_image_tag("text-separator_ldbcyu.png", class: "text-separator" )%>
    <div class="preparation-second-right">
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Ugandan VISA</h1>
        <p>
          Foreign visitors may be required to obtain a visa to enter Uganda.
          <br><br>
          Before travelling to Uganda, please contact the Ugandan Embassy in your country for the most up to date visa information. Travelers should check for visa requirements pertaining to their citizenship, as entry requirements vary between countries.
          <br><br>
          All travelers, however, must be in possession of a passport with at least six months of validity left beyond the intended departure date from Uganda. Please visit <a href="http://www.uganda.visahq.com">Ugandan VISA</a> for a full list of nationalities which require visas for entry into Uganda.
        </p>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Bagagge Restrictions</h1>
        <p>
          Maximum of 15 kg / 33lbs of luggage per person in soft-sided bags are allowed for light aircraft flights, including hand luggage and camera equipment. It is highly recommended that checked luggage is locked. Please do not pack valuable items in checked luggage.
        </p>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Money</h1>
        <p>
          The Ugandan shilling is issued in denominations of 1000, 5000, 10000, 20000 and 50000 shillings for notes, while coins are issued in denominations of 10, 50, 100, 200 and 500 shillings. The local currency can be obtained at authorised facilities (such as banks and foreign exchange bureaus). Foreign currency can also be changed at the airport on arrival. Many establishments will only change USD issued after the year 2000. Be aware that only paper currency will normally be accepted for exchange.
          <br><br>
          In Uganda, credit card use is usually restricted to major banks and hotels; most shops will not accept other methods of payment other than cash. Some Lodges accepts Visa, MasterCard, Amex and JCB credit cards. Travelers cheques are not widely accepted outside of Kampala.
        </p>
      <br><br>
      <div>
        <hr align="left"><h2>PREPARE</h2>
      </div>
        <h1>Driver Guide</h1>
        <ul>
          <li>
            A tip of about US$20 per day is appropriate for your driver Guide.
          </li>
          <li>
            Porter on a Gorilla Track -
            If you choose to take a porter (highly recommended), the minimum recommended tip is US$15 per traveler per track. Guides (usually 1 per group), Trackers (usually 2-3 per group) & Security personnel (usually 2-4 per group)
            A recommended tip of about US$20 per day of tracking per traveler may be placed in the appropriate tip box for your gorilla group (found at Park Headquarters) for distribution amongst the staff.
          </li>
        </ul>
    </div>
  </div>
</div>
