<div class="reviews">
  <div class="reviews_header">
    <hr align="left"><h2>REVIEWS</h2>
  </div>
  <h1>OUR CUSTOMERS' OPINION</h1>
  <div class="swiper-container swiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide review-card">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Francis from London</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card2">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Thomas from South Africa</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Björn from Norway</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card2">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Clementine from France</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Ife from Nigeria</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card2">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Hector from Colombia</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Laura from Mexico</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card2">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Diego from USA</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Fernando from Spain</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
      <div class="swiper-slide review-card2">
        <div class="review-card_header">
          <hr align="left"><h2>REVIEWS</h2>
        </div>
        <h1>Helen from Amsterdam</h1>
        <div class="review-card_stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          All of the experiences include food, hotels and transportation. If you have any special requests, please get in contact with our team. We have available made to measure experiences.
        </p>
        <p>August, 2018</p>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination2"></div>
  </div>
  <a href="mailto:mhenry@trailblazer.co.ug">LEAVE A REVIEW</a>
</div>
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper2 = new Swiper('.swiper2', {
    slidesPerView: 4,
    spaceBetween: 30,
    mousewheel: true,
    loop: true,
    pagination: {
      el: '.swiper-pagination2',
      clickable: false,
    },
  });
</script>
